

/* ---------------------------- global styling --------------------------- */

:root{
    --primary:green;
    --black:hsl(0, 0%, 0%);
    --grey:hsl(0, 0%, 20%);
    --grey-light:hsl(0, 0%, 40%);
    --grey-lighter:hsl(0, 0%, 60%);
    --grey-lighter-plus:hsl(0, 0%, 80%);
    --white:hsl(0, 0%, 100%);
}

*{
    padding:0;
    margin:0;
}

button{
    border-width:0;
    background-color:transparent;
    cursor:pointer;
    font-size:inherit;
    font-family:inherit;
}

input{
    border-width:0;
    font-size:inherit;
    font-family:inherit;
}

body, html{
    height:100%;
    width:100%;
    overflow-x:hidden;
}

#container{
   height:100%;
   width:100%;
}


/* ---------------------------- sign form --------------------------- */

.sign-form{
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color:var(--grey-light);
    padding:20px;
    border-radius:10px;
    box-shadow:2px 2px 10px;
    border:1px solid var(--grey-lighter-plus);
}

.sign-form-title{
    align-self:center;
    font-weight:bold;
    color:var(--grey);
    font-size:1.5rem;
}

.sign-form-field{
    padding:10px;
    border-radius:5px;
    color:var(--grey-light);
}

.sign-form-field::placeholder{
    color:var(--grey-light);
}

.sign-form-submit{
    color:var(--white);
    padding:10px;
    border-radius:5px;
    background-color:var(--grey);
    border:1px solid var(--grey-lighter);
}

.sign-form-action{
    color:var(--white);
}

.sign-form-error{
    font-size:0.8rem;
    color:rgb(194, 102, 102);
    line-height:1.6;
    text-align:center;
}

/* ---------------------------- home --------------------------- */

.home{
    position:relative;
    width:100%;
    min-height:100%;
    display:grid;
    grid-template-columns:auto 300px minmax(300px, 800px) auto;
    background-color:var(--grey);
    left:0;
    transition:left 0.5s;
}


/* ---------------------------- side --------------------------- */

.side{
    background-color:var(--grey-light);
    display:grid;
    grid-template-rows:120px auto;
    grid-column:2/3;
    height:100vh;
    position:sticky;
    top:0;
    gap:30px;
    overflow-y:auto;
}


/* ---------------------------- side header --------------------------- */

.side-header{
    display:flex;
    flex-direction:column;
    padding-inline:20px;
    justify-content:center;
    position:sticky;
    top:0;
    gap:20px;
    box-shadow:0 0 5px;
    clip-path: inset(0  0 -5px  0);
    background-color:var(--grey-light);
}

.side-header > button{
    align-self: start;
    color:var(--grey-lighter-plus);
    background-color:rgb(209, 147, 147);
    padding:10px;
    border:1px solid var(--grey-lighter-plus);
}

.user-info{
    display:flex;
    justify-content:space-between;
}

.user-info > span{
    font-size:1.3rem;
    color:var(--white);
}

.user-info > button{
    color:var(--white);
    font-size:1.3rem;
    display:none;
}

/* ---------------------------- side body --------------------------- */

.side-body{
    display:flex;
    flex-direction:column;
    gap:30px;
    padding-inline:20px;
}

.side-body > button{
    align-self:center;
    padding:10px;
    background-color:var(--grey-lighter-plus);
    color:var(--grey);
    border:1px solid var(--grey)
}

.quick-access{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.quick-access-item{
    display:flex;
    justify-content:space-between;
   
}

.quick-access-item > *{
    color:var(--grey-lighter-plus);
}

.collections, .tags{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.collection-list, .tag-list{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.collection-header, .tag-header{
    display:flex;
    justify-content:space-between;
    border:1px solid var(--grey-lighter);
    padding:10px;
    background-color:var(--grey)
}

.collection-header > *, .tag-header > *{
    color:var(--white);
}

.collection-item, .tag-item{
    display:flex;
    justify-content:space-between;
}

.collection-item > *, .tag-item > *{
    color:var(--grey-lighter-plus);
}

.collection-item > button:last-of-type, .tag-item > button:last-of-type{
    display:none;
}

.collection-item:hover > button:last-of-type, .tag-item:hover > button:last-of-type{
    display:initial;
}

.collection-item:hover > span, .tag-item:hover > span{
    display:none;
}

.current-selection > *{
    color:var(--grey);
}




/* ---------------------------- main --------------------------- */

.main{
    display:grid;
    grid-template-rows:120px auto;
    position:relative;
    grid-column:3/4;
}

.main-overlay{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, 0.7);
}


/* ---------------------------- main header --------------------------- */

.main-header{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding-inline:20px;
    box-shadow:0 0 5px;
    justify-content:center;
    clip-path:inset(0 10px -5px 10px);
    position:sticky;
    background-color:var(--grey);
    top:0;
}


.brand{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.brand > a{
    text-decoration:none;
    font-size:1.3rem;
    color:var(--white);
}

.brand > button{
    font-size:1.3rem;
    color:var(--white);
    display:none;
}

.search{
    background-color:var(--grey-light);
    padding:10px;
    display:flex;
    gap:10px;
    align-self:start;
}

.search > input{
    background-color:transparent;
    color:var(--grey-lighter-plus);
}

.search > input::placeholder{
    color:var(--grey-lighter-plus);
}

.search > span{
    color:var(--grey-lighter-plus);
}


@media(max-width:800px){

    .brand > button{
        display:initial;
    }

    .user-info > button{
        display:initial;
    }

    .home{
        width:calc(300px + 100%);
        grid-template-columns:300px auto;
        left:-300px;
    }

    .side{
        grid-column:1/2;
    }

    .main{
        grid-column:2/3;
    }

    .main-overlay-show{
        display:initial;
    }

    .side-open{
        left:0;
    }
}



