

/* ---------------------------- global styling --------------------------- */

:root{
    --primary:green;
    --black:hsl(0, 0%, 0%);
    --grey:hsl(0, 0%, 20%);
    --grey-light:hsl(0, 0%, 40%);
    --grey-lighter:hsl(0, 0%, 60%);
    --grey-lighter-plus:hsl(0, 0%, 80%);
    --white:hsl(0, 0%, 100%);
}

*{
    padding:0;
    margin:0;
}

button{
    border-width:0;
    background-color:transparent;
    cursor:pointer;
    font-size:inherit;
    font-family:inherit;
}

input{
    border-width:0;
    font-size:inherit;
    font-family:inherit;
}

#container{
   min-height:100vh;
   display:flex;
   justify-content:center;
   align-items:center;  
   background-color:var(--grey);   
}


/* ---------------------------- sign form --------------------------- */

.sign-form{
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color:var(--grey-light);
    padding:20px;
    border-radius:10px;
    box-shadow:2px 2px 10px;
    border:1px solid var(--grey-lighter-plus);
}

.sign-form-title{
    align-self:center;
    font-weight:bold;
    color:var(--grey);
    font-size:1.5rem;
}

.sign-form-field{
    padding:10px;
    border-radius:5px;
    color:var(--grey-light);
}

.sign-form-field::placeholder{
    color:var(--grey-light);
}

.sign-form-submit{
    color:var(--white);
    padding:10px;
    border-radius:5px;
    background-color:var(--grey);
    border:1px solid var(--grey-lighter);
}

.sign-form-action{
    color:var(--white);
}

.sign-form-error{
    font-size:0.8rem;
    color:rgb(194, 102, 102);
    line-height:1.6;
    text-align:center;
}

/* ---------------------------- home --------------------------- */

